{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>
    {% set books = author.books|length %}
    {% transchoice books %}
        {0} Author has no books|{1} Author has one book|]1,5[ Author has %books% books|]5,inf[ Author has %books% books
    {% endtranschoice %}
    <table class="table table-dark table-stripped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ author.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ author.surname }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ author.country }}</td>
            </tr>
            <tr>
                <th>Born</th>
                <td>{{ author.born }}</td>
            </tr>
            <tr>
                <th>Died</th>
                <td>{{ author.died }}</td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <td>{{ author.creation | date('Y M d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modification Date</th>
                <td>{{ author.modification | date('Y M d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('author_index') }}">back to list</a>

    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>

    {{ include('author/_delete_form.html.twig') }}

    {% set books = author.books %}
    {{ include('author/_author_books.html.twig') }}
{% endblock %}
