<h1>Book index</h1>

<table class="table table-dark table-stripped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Year</th>
        <th>Country</th>
        <th>Available</th>
        <td>Genre</td>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.country }}</td>
            <td>{{ book.available ? 'Dostępna' : 'Wypożyczona' }}</td>
            <td>{{ book.genre.name }}</td>
            <td>
                <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
