{% extends 'product_base.html.twig' %}

{% block title %}{{ 'new product category' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create new product category' | trans }} </h1>

    {{ include('product_category/_form.html.twig') }}

    <a href="{{ path('product_category_index') }}">{{ 'back to list' | trans }}</a>
{% endblock %}
