{% extends 'product_base.html.twig' %}

{% block title %}{{ product_category.name }}{% endblock %}

{% block body %}
    <h1>{{ 'product category' | trans }}</h1>

    <table class="table table-dark table-stripped">
        <tbody>
            <tr>
                <th>{{ 'id' | trans }}</th>
                <td>{{ product_category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name' | trans }}</th>
                <td>{{ product_category.name }}</td>
            </tr>
            <tr>
                <th>{{ 'description' | trans }}</th>
                <td>{{ product_category.description }}</td>
            </tr>
            <tr>
                <th>{{ 'creation date' | trans }}</th>
                <td>{{ product_category.creationDate ? product_category.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'modification date' | trans }}</th>
                <td>{{ product_category.modificationDate ? product_category.modificationDate | date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_category_index') }}">{{ 'back to list' | trans }}</a>

    <a href="{{ path('product_category_edit', {'id': product_category.id}) }}">{{ 'edit' | trans }}</a>

    {{ include('product_category/_delete_form.html.twig') }}

    <h1>{{ 'products in category' | trans }}</h1>
    {% set products = product_category.products %}
    {{ include('product/_product_index_table.html.twig') }}


{% endblock %}
