{% extends 'product_base.html.twig' %}

{% block title %}{{ 'symfony catalog' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'product index' | trans }}</h1>

    {{ include('product/_product_index_table.html.twig') }}

    <a href="{{ path('product_new') }}">{{ 'create new' | trans }}</a>
{% endblock %}
