{% extends 'product_base.html.twig' %}

{% block title %}{{ 'product' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'product' | trans }}</h1>

    <table class="table table-dark table-stripped">
        <tbody>
        <tr>
            <th>{{ 'id' | trans }}</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>{{ 'name' | trans }}</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>{{ 'description' | trans }}</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>{{ 'creation date' | trans }}</th>
            <td>{{ product.creationDate ? product.creationDate|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'modification date' | trans }}</th>
            <td>{{ product.modificationDate ? product.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'category' | trans }}</th>
            <td>
                {% if product.category %}
                    <a href="{{ path('product_category_show', {'id':product.category.id}) }}">{{ product.category.name }}</a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('product/wishlist/_add_or_remove_button.html.twig') }}
    {{ include('product/wishlist/_clear_form.html.twig') }}

    <a href="{{ path('product_index') }}">{{ 'back to list' | trans }}</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">{{ 'edit' | trans }}</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
